<div class="pt-3 text-2xl text-center">

  <div
    [style.color]="countdownService.remainingTime <= 0 ? '#f3b8b8' : '#ffffff'"
    class="remaining-time-title mt-4"
  >
    <span>timp rămas</span>
    <p>
      <span>{{countdownService.showNegativeRemainingTime.sign}}</span>
      <span style="font-size: 2.5rem">{{countdownService.showNegativeRemainingTime.minutes}}</span><span
      style="font-size: 1rem">.{{countdownService.showNegativeRemainingTime.seconds}}</span>
    </p>
  </div>

</div>
