<div class="main-block">

  <div
    [style.color]="countdownService.remainingTime <= 0 ? '#f3b8b8' : '#ffffff'"
    class="remaining-time-title mt-4"
  >
    <div>
      <p>timp rămas</p>
      <p>din 30 min.</p>
    </div>

    <div style="margin-top: 2.3rem">
      <span>{{countdownService.showNegativeRemainingTime.sign}}</span>
      <span
        class="remaining-minutes"
        style="font-size: 2.5rem">{{countdownService.showNegativeRemainingTime.minutes}}</span><span
      style="font-size: 1.3rem">.{{countdownService.showNegativeRemainingTime.seconds}}</span>
    </div>

  </div>

</div>
