.main-block {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: .75rem;
}

.remaining-minutes {
  font-size: 2.5rem;
}

.remaining-time-title {
  line-height: 1.6rem;
  border: 1px solid white;
  border-radius: 1rem;
  padding: .8rem 2.2rem;

  div {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .remaining-time-title {
    font-size: 1.3rem;
    line-height: 1.7rem;
    padding: .5rem 2rem;

    div {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .remaining-time-title {
    padding: .4rem 1.6rem;;
  }
}

@media screen and (max-width: 300px) {
  .remaining-time-title {
    padding: .4rem 1.2rem;;
  }
}
