<div>
  <ul class="list-none">
    <ng-container *ngFor="let part of preachingParts">

      <div class="main-container-preaching mt-3 p-2">
        <span>{{ part.title }}</span>

        <div class="flex items-center">
          <app-edit-btn [preachingPartToBeEdited]=part></app-edit-btn>

          <app-delete-btn (click)="deleteSpeech(part.title)"></app-delete-btn>
          <app-start-btn (click)="setTime(part)"></app-start-btn>
        </div>
      </div>

    </ng-container>
  </ul>
</div>
