.main-container-preaching {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  span {
    font-weight: bold;
    color: #FFCD5C
  }
}

@media screen and (max-width: 400px) {
  .main-container-preaching {
    span, .preaching-main-title {
      font-size: .7rem;
    }
  }
}

@media screen and (max-width: 600px) and (min-width: 401px) {
  .preaching-main-title {
    font-size: .9rem;
  }
}

@media screen and (min-width: 950px) {
  .preaching-main-title {
    font-size: 1.3rem;
  }
}
