<div>
  <ul class="list-none">
    <ng-container *ngFor="let part of preachingParts">

      <div class="rounded-2xl border-2 mt-3 border-red-300 flex flex-col p-2">
        <li>
          <div class="w-full">
            <app-start-btn (click)="setTime(part.hours, part.minutes)">
              <span class="flex-1">{{ part.title }}</span>
            </app-start-btn>
          </div>
        </li>
      </div>

    </ng-container>

    <div>
      <li class="flex justify-between">
        <ng-container *ngIf="preachingParts.length > 0">
          <app-reset-speeches [preaching]="true"></app-reset-speeches>
        </ng-container>
        <app-add-custom-speech [preaching]="true"></app-add-custom-speech>
      </li>
    </div>
  </ul>
</div>
