<div>
  <ul class="list-none">
    <ng-container *ngFor="let part of preachingParts">

      <div class="rounded-2xl border-2 mt-3 flex flex-row items-center justify-between p-2"
           style="border-color: #FFCD5C">
        <span class="font-bold" style="color: #FFCD5C">{{ part.title }}</span>

        <div class="flex items-center">
          <app-delete-btn (click)="deleteSpeech(part.title)"></app-delete-btn>
          <app-start-btn (click)="setTime(part.hours, part.minutes)"></app-start-btn>
        </div>
      </div>

    </ng-container>
  </ul>
</div>
