<div class="main-container">

  <div
    [ngStyle]="{
      'color': mixColors()
    }"
    class="remaining-time-container"
  >

    <div class="remaining-time-title">
      <p>timp rămas</p>
      <p>din program</p>
    </div>

    <p
      *ngIf="(isTimeRunning$ | async); else allocatedTimeBlock"
      class="remaining-minutes">
      <span class="sign">{{countdownService.showNegativeRemainingTime.sign}}</span>
      <span class="minutes">{{countdownService.showNegativeRemainingTime.minutes}}</span><span
      style="font-size: 1.3rem">.{{countdownService.showNegativeRemainingTime.seconds}}</span>
    </p>

    <ng-template #allocatedTimeBlock>
      <p class="remaining-minutes">
        <span class="sign">{{countdownAllocatedTimeService.showNegativeAllocatedRemainingTime.sign}}</span>
        <span class="minutes">{{countdownAllocatedTimeService.showNegativeAllocatedRemainingTime.minutes}}</span><span
        style="font-size: 1.3rem">.{{countdownAllocatedTimeService.showNegativeAllocatedRemainingTime.seconds}}</span>
      </p>
    </ng-template>

  </div>

</div>
