<div
  [ngStyle]="{
  'padding-top' : timeIsUp() ? '6rem' : ''
  }"
  class="text-center flex flex-col justify-center"
>

  <div
    [style.color]="countdownService.remainingTime <= 0 ? '#f3b8b8' : '#ffffff'"
    class="remaining-time-title big-padding-top"
  >
    <span>timp rămas</span>
    <p>
      <span>{{countdownService.showNegativeRemainingTime.sign}}</span>
      <span style="font-size: 2.5rem">{{countdownService.showNegativeRemainingTime.minutes}}</span><span
      style="font-size: 1rem">.{{countdownService.showNegativeRemainingTime.seconds}}</span>
    </p>
  </div>

</div>
