<div
  [ngStyle]="{
  'padding-top' : timeIsUp() ? '6rem' : ''
  }"
  class="main-container"
>

  <div
    [style.color]="countdownService.remainingTime <= 0 ? '#f3b8b8' : '#ffffff'"
    class="remaining-time-container"
  >

    <div class="remaining-time-title">
      <p>timp rămas</p>
      <p>din program</p>
    </div>

    <p class="remaining-minutes">
      <span>{{countdownService.showNegativeRemainingTime.sign}}</span>
      <span style="font-size: 2.5rem">{{countdownService.showNegativeRemainingTime.minutes}}</span><span
      style="font-size: 1.3rem">.{{countdownService.showNegativeRemainingTime.seconds}}</span>
    </p>
  </div>

</div>
