.main-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 7rem;
}

.remaining-minutes {
  margin-top: 1.3rem;
}

.remaining-time-title {
  line-height: 1.8rem !important;
}

.remaining-time-container {
  align-items: center;
  border: 1px solid white;
  border-radius: 1rem;
  padding: .8rem 2.2rem;

  div {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .remaining-minutes span:nth-child(2) {
    font-size: 2rem !important;
  }

  .remaining-time-container {
    font-size: 1.3rem;
    padding: .5rem 2rem;
  }
}

@media screen and (max-width: 400px) {
  .remaining-time-container {
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding: .4rem 1.2rem;
  }
}
