<div class="main-container">

  <div style="width: 63px">

    <button
      (click)="startNextSpeech()"
      class="start-next-speech">
      <span>
        <span>Start</span>
        <span style="font-size: .7rem">{{'Turnul de veghe'}}</span>
      </span>
    </button>
  </div>

  <div class="arrow-container">
    <button
      (click)="returnBack()"
      class="icon-circle">
      <fa-icon
        title="Back"
        class="arrow-left text-white text-xl"
        [icon]="faArrowLeft">
      </fa-icon>
    </button>

  </div>

</div>
