<div
  style="height: 55vh"
  class="main-container left-controllers-container">

  <div class="next-speech-container" style="width: 63px">
    <button
      (click)="startNextSpeech()"
      class="next-speech-btn">
      <span>
        <span style="font-size: .9rem">{{'Turnul de veghe'}}</span>
      </span>
    </button>
  </div>

  <div class="arrow-container">
    <button
      (click)="returnBack()"
      class="icon-circle">
      <fa-icon
        style="stroke-width: 15;stroke: #000;"
        title="Back"
        class="arrow-left text-white text-xl"
        [icon]="faArrowLeft">
      </fa-icon>
    </button>
  </div>

</div>
