.start-btn {
  background: #345996;
  color: white;
  margin-left: .5rem;
  padding: .5rem .75rem;
  border-radius: 1rem;
}

@media screen and (max-width: 500px) {
  button {
    padding: 0.5rem 0.6rem;
    font-size: .9rem;
  }

  .start-icon {
    display: none;
  }
}
