<div
  [ngStyle]="{
  'height': publicTalk ? '55vh' : '75vh'
  }"
  class="main-container">
  <div *ngIf="!watchtower">
    <button
      (click)="onBtnClick()"
      class="start-next-speech">
          <span>
            <span>Start</span>
            <span style="font-size: .7rem">{{!publicTalk ? 'următoarea temă' : 'Turnul de veghe'}}</span>
          </span>
    </button>
  </div>

  <div class="arrow-container">
    <button
      (click)="returnBack()"
      class="icon-circle">
      <fa-icon
        title="Back"
        class="arrow-left text-white text-xl"
        [icon]="faArrowLeft">
      </fa-icon>
    </button>
  </div>

</div>
