<div class="main-container-intro w-full rounded-2xl p-2 border-2 font-bold" style="border-color: white">
  <div class="flex items-center">
    <span class="text-white flex-1 font-bold">{{introPart.title}}</span>
    <app-start-btn-intro-finish
      [introPart]=introPart
      (introPartEmitted)="emitIntro()"
    ></app-start-btn-intro-finish>
  </div>
  <div>
  </div>
</div>

<ng-container *ngIf="countdownService.isTimerRunning || redColorText">
  <app-remaining-time
    [introduction]=true
  ></app-remaining-time>
</ng-container>

