.main-container-intro {
  border: 2px solid white;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .main-container-intro span {
    font-size: .8rem;
  }
}

@media screen and (min-width: 950px) {
  .main-container-intro {
    div span {
      font-size: 1.2rem;
    }
  }
}
