<ng-container
  *ngIf="!countdownService.isTimerRunning && !redColorText"
>
  <app-start-btn-public-talk></app-start-btn-public-talk>
</ng-container>

<ng-container *ngIf="countdownService.isTimerRunning || redColorText">
  <div class="p-3">
    <app-current-time [publicTalk]="true"></app-current-time>

    <div class="pt-14 mb-4 text-center flex flex-col">
      <div class="flex items-center">
        <p class="main-title text-white text-3xl m-auto">Cuvântare publică</p>
      </div>
    </div>

      <app-remaining-time-public-talk></app-remaining-time-public-talk>
  </div>
</ng-container>
