<div>

  <ng-container
    *ngIf="!(isTimeRunning$ | async)"
  >
    <app-start-btn-public-talk/>
  </ng-container>

  <ng-container *ngIf="(isTimeRunning$ | async)">
    <div class="p-3 flex">
      <app-left-controllers-public-talk/>

      <main class="main-container">
        <div class="mb-4 text-center">
          <app-current-time/>

          <div class="flex items-center mt-12">
            <p class="main-title">Cuvântare publică</p>
          </div>
        </div>

        <app-remaining-time-public-talk/>
      </main>
    </div>
  </ng-container>


</div>
