<div class="p-3">
  <app-header
    [title]=title
  ></app-header>

  <app-current-time *ngIf="headerService.showHeader"></app-current-time>

  <ng-container
    *ngIf="!countdownService.isTimerRunning && !countdownAllocatedTimeService.isAllocatedTimerRunning"
  >
    <app-parts></app-parts>
  </ng-container>

  <ng-container *ngIf="countdownService.isTimerRunning ||
  countdownAllocatedTimeService.isAllocatedTimerRunning || redColorText">
    <app-remaining-time></app-remaining-time>
  </ng-container>
</div>
