<div>
  <ul class="list-none">
    <ng-container *ngFor="let part of christianLifeParts">

      <div class="main-container-ch-life rounded-2xl border-2 mt-3 flex flex-row items-center justify-between p-2"
           style="border-color: #D27674">
        <span class="font-bold" style="color: #D27674">{{ part.title }}</span>

        <div class="flex items-center">
          <app-edit-btn [christianLifePartToBeEdited]=part></app-edit-btn>
          <app-delete-btn *ngIf="part.title !== 'Studiul Bibliei (20:06 - 20:36)'"
                          (click)="deleteSpeech(part.title)"></app-delete-btn>
          <app-start-btn (click)="setTime(part)"></app-start-btn>
        </div>
      </div>

    </ng-container>
  </ul>
</div>
