.main-container-ch-life {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  margin-top: .75rem;
  border: 2px solid #D27674;
  border-radius: 1rem;

  span {
    color: #D27674;
    font-weight: bold;
  }
}

@media screen and (max-width: 400px) {
  .main-container-ch-life {
    span {
      font-size: .8rem;
    }
  }
}

@media screen and (min-width: 950px) {
  .main-container-ch-life span {
    font-size: 1.2rem;
  }
}
