<div>
  <ul class="list-none">
    <ng-container *ngFor="let part of christianLifeParts">

      <div class="rounded-2xl border-2 mt-3 flex flex-row items-center justify-between p-2"
           style="border-color: #D27674">
        <span class="font-bold" style="color: #D27674">{{ part.title }}</span>

        <div class="flex items-center">
          <app-delete-btn *ngIf="part.title !== 'Studiul Bibliei (20:07 - 20:37)'"
                          (click)="deleteSpeech(part.title)"></app-delete-btn>
          <app-start-btn (click)="setTime(part.hours, part.minutes)"></app-start-btn>
        </div>
      </div>

    </ng-container>

    <div>
      <li class="flex justify-end">
        <ng-container *ngIf="christianLifeParts.length > 0">
          <app-reset-speeches [christianLife]="true"></app-reset-speeches>
        </ng-container>
        <app-add-custom-speech [christianLife]="true"></app-add-custom-speech>
      </li>
    </div>
  </ul>
</div>
