<div>
  <ul class="pt-3 list-none">
    <div class="border-2 border-red-500 flex flex-col p-2">
      <li>
        <div class="flex">
          <div class="w-full">
            <fa-icon class="mr-1.5" [icon]="faGem"></fa-icon>
            <span #elem1>{{parts.comori}}</span>
          </div>
          <app-start-btn
            (click)="setTime(elem1)"
          ></app-start-btn>
        </div>
      </li>
    </div>

    <div class="border-2 border-red-500 flex flex-col p-2">
      <li>
        <div class="flex">
          <div class="w-full">
            <span #elem2 class="mr-5"> {{parts.nestemate}}</span>
          </div>
          <app-start-btn
            (click)="setTime(elem2)"
          ></app-start-btn>
        </div>
      </li>
    </div>

    <div class="border-2 border-red-500 flex flex-col p-2">
      <li>
        <div class="flex">
          <div class="w-full">
            <span #elem3>Viața de creștin: {{parts.viata_de_crestin}}</span>
          </div>
          <app-start-btn
            (click)="setTime(elem3)"
          ></app-start-btn>
        </div>
      </li>
    </div>

    <div class="border-2 border-red-500 flex flex-col p-2">
      <li>
        <div class="flex">
          <div class="w-full">
            <span #elem4 class="mr-4">{{parts.studiul_bibliei}}</span>
          </div>
          <app-start-btn
            (click)="setTime(elem4)"
          ></app-start-btn>
        </div>
      </li>
    </div>
  </ul>
</div>
