.main-container-gems {
  display: flex;
  align-items: center;
  width: auto;

  span {
    color: #86BFCA;
    flex: 1;
  }
}

.gems-container {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  border: 2px solid #86BFCA;
  border-radius: 1rem;
  color: white;
}

.preaching-container {
  width: 100%;
  border-radius: 1rem;
  padding: .5rem;
  font-weight: bold;
  border: 2px solid #D68F00;
}

.gems-main-title {
  flex: 1;
  font-weight: bold;
  color: #86BFCA;
}

.preaching-main-title {
  flex: 1;
  color: #FFCD5C;
}

.life-main-title {
  flex: 1;
  color: #D27674;
}

@media screen and (max-width: 400px) {
  .gems-main-title,
  .preaching-main-title,
  .life-main-title {
    font-size: .7rem;
  }

  .main-container-gems span {
    font-size: .8rem;
  }
}

@media screen and (max-width: 600px) and (min-width: 401px) {
  .gems-main-title,
  .preaching-main-title,
  .life-main-title {
    font-size: .9rem;
  }
}

@media screen and (min-width: 950px) {
  .main-container-gems {
    span {
      font-size: 1.2rem;
    }
  }

  .gems-main-title,
  .preaching-main-title,
  .life-main-title {
    font-size: 1.3rem;
  }
}
