<div>
  <ul class="pt-3 list-none">
    <div
      [ngStyle]="isOpen ? {'background-color': 'rgb(3 109 92)' } : { 'background-color': 'rgba(234, 87, 83, 0.7)'}"
      class="rounded-2xl text-white border-2 border-red-300 mb-0.5 flex flex-col p-2">
      <li>
        <div class="w-full">
          <app-open-btn
            (PreachingBtn)="openGems($event)"
          >
            <span class="flex-1">COMORI DIN CUVÂNTUL LUI DUMNEZEU</span>
          </app-open-btn>

          <div *ngIf="isOpen">

            <ng-container *ngFor="let gem of gems">
              <div *ngIf="gem.title !== 'SĂ FIM MAI EFICIENȚI ÎN PREDICARE'"
                   class="rounded-2xl mt-3 text-white border-2 border-red-300 flex flex-col p-2">
                <li>
                  <div class="w-full">
                    <app-start-btn (click)="setTime(gem.hours, gem.minutes)">
                      <span class="flex-1">{{ gem.title }}</span>
                    </app-start-btn>
                  </div>
                </li>
              </div>
            </ng-container>

          </div>
        </div>
      </li>
    </div>

    <div
      [ngStyle]="isPreachingOpen ? {'background-color': 'rgb(3 109 92)' } : { 'background-color': 'rgba(234, 87, 83, 0.7)'}"
      class="rounded-2xl text-white border-red-300 mb-0.5 flex flex-col p-2">
      <li>
        <div class="w-full">
          <app-open-btn
            (PreachingBtn)="openPreachingParts($event)"
          >
            <span class="flex-1">SĂ FIM MAI EFICIENȚI ÎN PREDICARE</span>
          </app-open-btn>

          <div *ngIf="isPreachingOpen">
            <app-preaching-parts></app-preaching-parts>
          </div>
        </div>
      </li>
    </div>

    <div
      [ngStyle]="isChristianLife ? {'background-color': 'rgb(3 109 92)' } : { 'background-color': 'rgba(234, 87, 83, 0.7)'}"
      class="rounded-2xl text-white border-red-300 mb-0.5 flex flex-col p-2">
      <li>
        <div class="w-full">
          <app-open-btn
            (PreachingBtn)="openChristianLifeParts($event)"
          >
            <span class="flex-1">VIAȚA DE CREȘTIN</span>
          </app-open-btn>

          <div *ngIf="isChristianLife">
            <app-christian-life-parts></app-christian-life-parts>
          </div>
        </div>
      </li>
    </div>

  </ul>
</div>
