<div class="flex items-center">
  <ng-content></ng-content>

<!--  <button-->
<!--    (click)="openParts()"-->
<!--    type="submit"-->
<!--    class="px-4 py-4 bg-amber-500 rounded-2xl hover:text-white active:translate-y-1.5 hover:bg-amber-600">-->
<!--    {{isOpen ? 'Close' : 'Open'}}-->
<!--    <fa-icon-->
<!--      *ngIf="!isOpen; else elseBlock"-->
<!--      animation="beat-fade"-->
<!--      [icon]="faAngleDown">-->
<!--    </fa-icon>-->
<!--    <ng-template #elseBlock>-->
<!--      <fa-icon animation="beat-fade" [icon]="faAngleUp"></fa-icon>-->
<!--    </ng-template>-->
<!--  </button>-->
</div>
