@media screen and (max-width: 500px) {
  .arrow-left {
    font-size: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .main-container-curr-time {
    h1 {
      font-size: 1.1rem;
    }
    span {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 1050px) and (min-width: 531px) {
  .main-container-curr-time {
    h1 {
      font-size: 1.5rem;
    }
    span {
      font-size: 1.7rem;
    }
  }
}

@media screen and (min-width: 1050px) {
  .main-container-curr-time {
    h1 {
      font-size: 1.7rem;
    }
    span {
      font-size: 1.9rem;
    }
  }
}
