<ng-container *ngIf="headerService.showHeader && !watchtowerStarted && !publicTalk">

  <div class="main-container-curr-time text-center m-auto">
    <h1 class="text-white text-2xl">
      <fa-icon [icon]="faClock"></fa-icon>
      Ora curentă: <span class="hours-minutes">{{ localTime | date: 'HH:mm'}}</span>
      <span class="seconds">{{ localTime | date: '.ss'}}</span>
    </h1>
  </div>

</ng-container>

<ng-container *ngIf="!headerService.showHeader || watchtowerStarted || publicTalk">
  <div class="flex mb-4">

    <button
      (click)="returnBack()"
      class="icon-circle flex justify-center items-center">
      <fa-icon
        title="Back"
        class="arrow-left text-white text-xl"
        [icon]="faArrowLeft">
      </fa-icon>
    </button>

    <div class="text-center m-auto">
      <h1 class="text-white text-2xl">
        <fa-icon [icon]="faClock"></fa-icon>
        Ora curentă: <span class="text-4xl">{{ localTime | date: 'HH:mm'}}</span>
        <span style="font-size: 1rem">{{ localTime | date: '.ss'}}</span>
      </h1>
    </div>

  </div>
</ng-container>
