@media screen and (max-width: 375px) {
  .main-container {
    flex-wrap: wrap;

    a {
      padding: 1.2rem 1.5rem;
      font-size: .8rem;
    }
  }
}

@media screen and (min-width: 710px) {
  .main-container {

    a {
      padding: 2.7rem 3rem;
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 850px) {
  .main-container {

    a {
      padding: 3.3rem 3.7rem;
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width: 1050px) {
  .main-container {

    a {
      padding: 3.7rem 4rem;
      font-size: 2rem;
    }
  }
}
