<div class="main-container flex flex-col items-center justify-center h-screen">
  <a routerLink="/life_and_ministry"
     class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-8 px-10 text-xl rounded-lg">
    Viața creștină și predicarea
  </a>
  <a routerLink="/public_talk"
     class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-8 px-10 text-xl mt-4 rounded-lg">
    Cuvântarea publică
  </a>
  <a routerLink="/watchtower"
     class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-8 px-10 text-xl mt-4 rounded-lg">
    Turnul de veghe
  </a>
</div>
