.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 375px) {
  .main-container {
    flex-wrap: wrap;

    a {
      padding: 1.2rem 1.5rem;
      font-size: .8rem;
    }
  }
}

@media screen and (min-width: 710px) {
  .main-container a {
    padding: 2.7rem 3rem;
    font-size: 1.5rem;
  }
}
