.main-container-par {
  display: flex;
  justify-content: center;
  margin-top: .75rem;

  button {
    padding: .3rem;
    font-size: 1.8rem;
    margin-left: .5rem;
    border-radius: .25rem;
  }

  button:first-child {
    margin-left: 0;
  }
}

.selected {
  background-color: red;
}

.set-num-par {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.popup-box {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f48181;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(225, 32, 32, 0.6);
  z-index: 10;
  color: #ffffff;
  opacity: .8;
}

@media screen and (max-width: 500px) {
  .arrow-left {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .main-title {
    font-size: 1.7rem;
  }
  .select-par {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 350px) {
  .main-title {
    font-size: 1.5rem;
  }
  .select-par {
    font-size: 1.2rem;
  }
  .main-container-par button {
    padding: .3rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 280px) {
  .main-container-par {
    flex-wrap: wrap;

    button {
      padding: .3rem;
      font-size: 1.1rem;
      margin-left: 0;
    }
  }
}
