.popup-box {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f48181;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(225, 32, 32, 0.6);
  z-index: 10;
  color: #ffffff;
  opacity: .8;
}
