.large-radio {
  width: 1.5rem;
  height: 1.5rem;
}

.center-labels {
  display: flex;
  align-items: center;
  color: white;
}

.change-time {
  color: white;
  background: #4B7CD2;
  padding: .4rem .7rem;
  margin-top: 1.5rem;
  border: 1px solid #89a7de;
  font-size: 1rem;
  border-radius: .3rem;
}

.main-title {
  margin-bottom: 2rem;
  color: white;
  text-align: center;
}

.inputs-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}

.select-finish-time {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 450px) {
  .main-title {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 350px) {
  button {
    padding: .7rem 1.2rem;
    font-size: 1.1rem;
  }

  .select-finish-time {
    font-size: 1.3rem;
  }

  .main-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 280px) {
  .inputs-container {
    flex-wrap: wrap;
  }
}
