<div class="flex flex-col">

  <p class="main-title text-3xl">Turnul de veghe</p>
  <p class="select-finish-time">Setați ora finisării</p>

  <div class="inputs-container text-xl">

    <label class="center-labels">
      <input
        (change)="changeToMorningTime()"
        [checked]="watchtowerEndTime?.hours == '11' && watchtowerEndTime?.minutes == '40'"
        type="radio" name="endTime" value="11:40" class="large-radio mr-2">
      11:40
    </label>

    <label *ngIf="isCustomTime && noMorningNoEveningSelected()"
           class="center-labels">
      <input checked type="radio" name="endTime" class="large-radio mr-2">
      {{watchtowerEndTime?.hours}}:{{watchtowerEndTime?.minutes}}
    </label>

    <label class="center-labels">
      <input
        (change)="changeToEveningTime()"
        [checked]="(watchtowerEndTime?.hours == '20' && watchtowerEndTime?.minutes == '10')"
        type="radio" name="endTime" value="20:10" class="large-radio mr-2">
      20:10
    </label>

  </div>

  <div class="text-center">
    <button
      (click)="changeWatchtowerEndTime()"
      title="Adaugă altă oră pentru Turnul de veghe"
      class="change-time">
      Adaugă altă oră
    </button>
  </div>

  <ng-template #selectEndTime>
    <span
      style="color: #dd2263"
      class="text-center text-xl">
      Selectează ora finisării!
    </span>
  </ng-template>
</div>
