.remaining-time-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 1rem;
    padding: .8rem 3.5rem;
    margin: 1rem auto;

    > div:first-child {
      line-height: 2rem;
    }

    + div {
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: .9;
      border: 1px solid gray;
      border-radius: 1rem;
      padding: .8rem 3.5rem;
      margin: 1rem auto;
    }
  }
}

p {
  font-size: 1.5rem;
}

.remaining-minutes {
  font-size: 2.5rem;
}

@media screen and (max-width: 370px) {
  .remaining-allocated-time-container,
  .remaining-time-container {
    padding: .5rem 2rem !important;
    margin-top: 0 !important;
  }

  .remaining-time-title p {
    font-size: 1.2rem !important;
  }
}
