.remaining-time-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .remaining-allocated-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 1rem;
    padding: .8rem 2.2rem;

    > div:first-child {
      line-height: 1.6rem;
    }
  }
}

.remaining-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .9;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: .8rem 2.2rem;
}

p {
  font-size: 1.5rem;
}

.remaining-minutes {
  font-size: 2.5rem;
}

@media screen and (max-width: 450px) {
  .remaining-allocated-time-container,
  .remaining-time-container {
    padding: .5rem 2rem !important;
  }

  .remaining-time-title p {
    font-size: 1.2rem !important;
  }

  .remaining-minutes {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 350px) {
  .remaining-allocated-time-container,
  .remaining-time-container {
    padding: .4rem 1.6rem;
  }
}

@media screen and (max-width: 325px) {
  .remaining-allocated-time-container,
  .remaining-time-container {
    padding: .4rem 1.2rem !important;
  }
}
