.big-text {
  font-size: 3.5rem;
}

.small-text {
  font-size: 2.5rem;
}

.big-container {
  line-height: 5rem;
}

.negative-time {
  font-size: 5rem;
  line-height: 1;
}

.h-screen {
  height: 100vh;
}
