<div class="main-container">
  <div class="remaining-time-title">
    <div
      class="remaining-allocated-time-container"
      [ngStyle]="{
        visibility:
          (selectedSpeechService.selectedSpeechSig().title) ===
          '' + 'Cuvinte de încheiere, anunțuri'
            ? 'hidden'
            : 'visible',
        color:
          countdownAllocatedTimeService.remainingAllocatedTime <= 0
            ? '#f3b8b8'
            : '#ffffff'
      }"
    >
      <div
        *ngIf="selectedSpeechService.selectedSpeechSig().title !== 'Să fim mai eficienți în predicare';
        else preachingBlock">
        <p>timp rămas</p>
        <p>
          din
          {{ (selectedSpeechService.selectedSpeechSig().duration) }} min.
        </p>
      </div>

      <!-- special block just for preaching part-->
      <ng-template #preachingBlock>
        <div>
          <p>timp rămas</p>
          <p>
            din
            {{ roundUp(selectedSpeechService.selectedSpeechSig().duration) }} min.
          </p>
        </div>
      </ng-template>

      <div style="margin-top: 1.3rem">
        <span class="sign">{{
            countdownAllocatedTimeService.showNegativeAllocatedRemainingTime.sign
          }}</span>
        <span class="remaining-minutes">{{
            countdownAllocatedTimeService.showNegativeAllocatedRemainingTime
              .minutes
          }}</span
        ><span class="remaining-seconds"
      >.{{
          countdownAllocatedTimeService.showNegativeAllocatedRemainingTime
            .seconds
        }}</span
      >
      </div>
    </div>

    <div [style.color]="mixColors() | async"
         class="mt-8 remaining-time-container"
    >
      <div style="line-height: 1.6rem">
        <p>timp rămas</p>
        <p>din program</p>
      </div>

      <!--   in case   'Cuvinte de încheiere, anunțuri' was selected go nextBlock-->
      <div
        *ngIf="
          (selectedSpeechService.selectedSpeechSig().title) !==
            'Cuvinte de încheiere, anunțuri';
          else nextBlock
        "
        style="margin-top: 1.3rem"
      >
        <span class="sign">{{
            countdownService.showNegativeRemainingTime.sign
          }}</span>
        <span class="remaining-minutes">{{
            countdownService.showNegativeRemainingTime.minutes
          }}</span
        ><span class="remaining-seconds"
      >.{{ countdownService.showNegativeRemainingTime.seconds }}</span
      >
      </div>

      <!--   in case   'Cuvinte de încheiere, anunțuri' was selected -->
      <ng-template #nextBlock>
        <div
          *ngIf="isTimeRunning$ | async; else finalBlock"
          style="margin-top: 1.3rem"
        >
          <span class="sign">{{
              countdownService.showNegativeRemainingTime.sign
            }}</span>
          <span class="remaining-minutes">{{
              countdownService.showNegativeRemainingTime.minutes
            }}</span
          ><span class="remaining-seconds"
        >.{{ countdownService.showNegativeRemainingTime.seconds }}</span
        >
        </div>
      </ng-template>

      <!--      finalBlock for 'Cântare, rugăciune de încheiere' -->
      <ng-template #finalBlock>
        <div *ngIf="isAllocatedTimeRunning$ | async" style="margin-top: 1.3rem">
          <span class="sign">{{
              countdownAllocatedTimeService.showNegativeAllocatedRemainingTime
                .sign
            }}</span>
          <span class="remaining-minutes">{{
              countdownAllocatedTimeService.showNegativeAllocatedRemainingTime
                .minutes
            }}</span
          ><span class="remaining-seconds"
        >.{{
            countdownAllocatedTimeService.showNegativeAllocatedRemainingTime
              .seconds
          }}</span
        >
        </div>
      </ng-template>
    </div>
  </div>
</div>
