<div class="pt-3 text-2xl text-center">

  <div>
    <h1
      [style.color]="countdownAllocatedTimeService.remainingAllocatedTime <= 0 ? '#f3b8b8' : '#ffffff'"
      class="text-white flex flex-col leading-10 text-3xl font-normal"
    >
      timp rămas
      <p class="rem-time">
        <span>{{countdownAllocatedTimeService.showNegativeAllocatedRemainingTime.sign}}</span>
        <span
          style="font-size: 2.5rem">{{countdownAllocatedTimeService.showNegativeAllocatedRemainingTime.minutes}}</span><span
        style="font-size: 1rem">.{{countdownAllocatedTimeService.showNegativeAllocatedRemainingTime.seconds}}</span>
      </p>
    </h1>
  </div>

</div>
