/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$fa-font-path: "../../../node_modules/font-awesome/fonts";

body, html {
  position: relative;
  //overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background-color: #eca7a6;

  &::before {
    content: "";
    top: -15rem;
    left: -15rem;
    width: 30rem;
    height: 30rem;
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.35);
  }

  &::after {
    content: "";
    bottom: 10rem;
    right: -15rem;
    width: 30rem;
    height: 30rem;
    z-index: -1;
    margin-bottom: -25rem;
    position: absolute;
    border-radius: 50%;
    background: rgba(237, 153, 100, 0.6);
  }
}

.red-background {
  background-color: red !important;
}

#swal-input-hours, #swal-input-title {
  padding: 0.5rem 1px;
}

#swal-input-minutes {
  margin: 1rem 0;
}
