/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './styles/swal.scss';

$fa-font-path: "../../../node_modules/font-awesome/fonts";
$dark-red: #85001B;
$light-red: #CC0106;
$dark-green: #14532D;
$light-green: limegreen;

body, html {
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: #121212;
}

.red-background {
  background-color: red !important;
}

.left-space-duration {
  margin-left: .7rem;
}

.left-controllers-container {
  max-width: 15%;
  display: flex;
  flex: 1;
}

.icon-circle {
  width: 50px;
  height: 50px;
  background-color: #042b6b;
  border-radius: 50%;
  padding: 12px;
  border: 1px solid gray;
}

.main-title-page {
  display: flex;
  justify-items: center;
  font-size: 1.5rem;
  padding: .5rem 0;
  text-align: center;
  margin-bottom: .5rem;
  color: white;
}

.duration-button-speechA {
  background-color: $dark-green;
  color: #ffffff;
}

.duration {
  background-color: $dark-red;
  color: #ffffff;
}

.selected {
  background: $light-green;
}

.bs-selected {
  background: $light-red !important;
}

@media screen and (max-width: 500px) {
  .icon-circle {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
