/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$fa-font-path: "../../../node_modules/font-awesome/fonts";

body, html {
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: #121212;
}

.red-background {
  background-color: red !important;
}

.icon-circle {
  width: 50px;
  height: 50px;
  background-color: #042b6b;
  border-radius: 50%;
  padding: 12px;
}

.main-title-page {
  display: flex;
  justify-items: center;
  font-size: 1.5rem;
  padding: .5rem 0;
  text-align: center;
  margin-bottom: .5rem;
  color: white;
}

.remaining-time-title {
  color: white;
  font-size: 1.875rem;
  line-height: 3rem;
}

#swal2-html-container {
  margin: 0;
}

// swal section
#swal2-main-container,
#swal2-main-container-forBStudy {
  display: flex !important;
  justify-content: center;
  align-items: baseline;
}

#swal2-main-container-forBStudy {
  margin-top: 1.5rem;
}

#speech-B-container {
  margin-top: 3rem;
}

#duration-container-for-BStudy {
  margin-top: 1rem;
}

#speech-B-hours-container {
  justify-content: center;
  align-items: baseline;
}

#swal-input-title {
  width: 90%;
  margin: .2rem 0 auto;
}

#swal-input-speech-B-title {
  width: 90%;
  margin: .625rem 0 auto;
}

#swal-input-hours,
#swal-input-minutes,
#swal-input-seconds,
#swal-input-hours-speech-B,
#swal-input-minutes-speech-B,
#swal-input-seconds-s-bible,
#swal-input-hours-s-bible,
#swal-input-minutes-s-bible,
{
  width: 15%;
  margin-top: .5rem;
  margin-bottom: .2rem;
}

#swal-input-duration,
#swal-input-speech-B-duration,
#swal-input-duration-s-bible {
  width: 15%;
  margin-top: .5rem;
  margin-left: .2rem;
  margin-bottom: 0;
}

#swal-input-hours,
#swal-input-hours-speech-B,
#swal-input-hours-s-bible {
  margin-right: 0;
  margin-left: .3rem;
}

#swal-input-minutes,
#swal-input-seconds,
#swal-input-seconds-s-bible,
#swal-input-minutes-s-bible,
#swal-input-seconds-speech-B,
#swal-input-minutes-speech-B {
  margin-left: 0;
}


#duration-container {
  margin-top: 10px;
}

#swal-input-minutes,
#swal-input-minutes-speech-B,
#swal-input-minutes-s-bible {
  margin-right: 0;
}

.duration-button {
  margin-right: 5px;
  padding: 5px 15px;
  background-color: #14532D;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.duration:hover {
  background-color: #0d6e35;
}

.swal2-actions {
  margin-top: 1rem;
}

#line {
  width: 90%;
  height: .3rem;
  background: #b2b2b2;
  margin: 3rem auto;
}

@media screen and (max-width: 500px) {
  .icon-circle {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
