<div class="flex flex-col">
  <div class="flex mb-4 justify-between">
    <label class="flex">
      <input
        (change)="changeToMorningTime()"
        [checked]="endTime.hours === 11 && endTime.minutes === 38"
        type="radio" name="endTime" value="11:38" class="large-radio mr-2">
      11:38
    </label>
    <label *ngIf="customTime" class="flex">
      <input checked type="radio" name="endTime" value="11:38" class="large-radio mr-2">
      {{endTime.hours}}:{{endTime.minutes}}
    </label>

    <label class="flex">
      <input
        (change)="changeToEveningTime()"
        [checked]="endTime.hours === 20 && endTime.minutes === '0' + 8"
        type="radio" name="endTime" value="20:8" class="large-radio mr-2">
      20:08
    </label>
  </div>
  <span class="text-center text-blue-700">
    <fa-icon [icon]="faClockRotateLeft"></fa-icon>
    Current end time: {{endTime.hours}}:{{endTime.minutes}}
  </span>
  <button
    (click)="changeTime()"
    title="Change end time for watchtower"
    class="border-2 border-blue-400 border-opacity-40 hover:bg-rose-300 outline-0 px-11 py-5 rounded-2xl text-3xl">
    Change time
  </button>
</div>
