<div class="flex flex-col">
  <div class="flex mb-4 justify-evenly">
    <label class="flex text-white">
      <input
        (change)="changeToMorningTime()"
        [checked]="watchtowerEndTime.hours === 11 && watchtowerEndTime.minutes === 38"
        type="radio" name="endTime" value="11:38" class="large-radio mr-2">
      11:38
    </label>
    <label *ngIf="customTime" class="flex text-white">
      <input checked type="radio" name="endTime" value="11:38" class="large-radio mr-2">
      {{watchtowerEndTime.hours}}:{{watchtowerEndTime.minutes}}
    </label>

    <label class="flex text-white">
      <input
        (change)="changeToEveningTime()"
        [checked]="watchtowerEndTime.hours === 20 && watchtowerEndTime.minutes === '0' + 8"
        type="radio" name="endTime" value="20:8" class="large-radio mr-2">
      20:08
    </label>
  </div>
  <span class="text-center text-white">
    <fa-icon [icon]="faClockRotateLeft"></fa-icon>
        Ora finisării curente: {{watchtowerEndTime.hours}}:{{watchtowerEndTime.minutes}}
  </span>
  <div class="text-center">
    <button
      (click)="changeWatchtowerEndTime()"
      title="Schimbă ora pentru Turnul de veghe"
      style="background: #345996"
      class="border-2 text-white border-blue-400 border-opacity-40 outline-0 px-6 py-4 rounded-2xl text-2xl">
      Schimbă ora
    </button>
  </div>
</div>
