<div class="h-screen">
  <header class="flex border-gradient mt-5">
    <fa-icon
      (click)="returnBack()"
      class="cursor-pointer ml-5" [icon]="faArrowLeft">
    </fa-icon>
    <p class="text-center flex-1">Articol cu {{paragraph}} paragrafe selectat.</p>
  </header>

  <div *ngIf="isLoading" class="spinner">
    <div class="spinner-container">
      <div class="spinner-circle"></div>
    </div>
  </div>

  <h1 *ngIf="!isLoading && currentParagraph <= paragraph" class="big flex justify-center align-top">
    {{currentParagraph}}
  </h1>

  <app-remaining-time
    [textSize]="'text-1xl'"
  ></app-remaining-time>

</div>
