.main-container {
  flex: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-header {
  text-align: center;
  margin: 1.5rem 0;
  color: white;
}

.small-text {
  font-size: 2rem;
  color: gray;
  padding: 1rem 0 0;
}

.spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.spinner-circle {
  width: 60px;
  height: 60px;
  border: 3px solid;
  border-top-color: #ff4081;
  border-radius: 50%;
  animation: spinner-rotate 1s linear infinite;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 400px) {
  p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 330px) {
  p {
    font-size: 1.2rem;
  }
}
