<div class="h-screen">
  <header class="flex mt-5">
    <p class="text-center text-2xl text-white flex-1">
      <fa-icon
        (click)="returnBack()"
        class="cursor-pointer text-white mr-2"
        [icon]="faArrowLeft">
      </fa-icon>
      Articol cu {{paragraph}} paragrafe selectat.
    </p>
  </header>

  <div *ngIf="isLoading" class="spinner">
    <div class="spinner-container">
      <div class="spinner-circle"></div>
    </div>
  </div>

  <h1 *ngIf="!isLoading && currentParagraph <= paragraph"
      [ngClass]="{'big-text' : currentParagraph >= 0 && currentParagraph <= 22}"
      class="flex justify-center align-top text-white">
    {{(currentParagraph < 0 || currentParagraph > 22) ? '' : currentParagraph}}
  </h1>

  <app-remaining-time
    [textSize]="'text-1xl'"
  ></app-remaining-time>

</div>
