<div class="main-container-finish w-full rounded-2xl p-2 border-2 font-bold mt-3" style="border-color: white">
  <div class="flex items-center">
    <span class="text-white flex-1 font-bold">{{finishPart.title}} ({{finishPart.duration}} min)</span>
    <app-start-btn-intro-finish
      [finishPart]="finishPart"
      (finishPartEmitted)="updateSelectedSpeech($event)"
    ></app-start-btn-intro-finish>
  </div>
</div>

<ng-container *ngIf="countdownService.isTimerRunning">
  <app-remaining-time></app-remaining-time>
</ng-container>

