.main-title-page {
  flex: 1;
  border-radius: 1rem;
}

@media screen and (max-width: 370px) {
  .main-container-header {
    h2 button fa-icon {
      font-size: 1rem;
    }
  }

  .header, .title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 530px) and (min-width: 371px) {
  .main-container-header {
    h2 button fa-icon {
      font-size: 1rem;
    }
  }

  .title {
    font-size: 1.5rem;
  }
  .header {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 630px) and (min-width: 531px)  {
  .title {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 950px) {
  .main-container-header {
    h2 button fa-icon {
      font-size: 1.5rem;
    }
  }

  .title {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 1050px) {
  .title {
    font-size: 2.2rem;
  }
}
