<!--the header for life and ministry main page-->

<ng-container *ngIf="headerService.showHeader">
  <div class="flex">
    <h2 class="rounded-2xl text-center flex-1 flex items-center bg-gray-500">
      <button
        (click)="goHome()"
        class="icon-circle flex justify-center items-center ml-1">
        <fa-icon
          title="Back"
          class="cursor-pointer text-white text-xl"
          [icon]="faArrowLeft">
        </fa-icon>
      </button>
      <div class="m-auto">
        <p>{{header}}</p>
      </div>
    </h2>
  </div>
</ng-container>


<!--the header for remaining time page-->
<ng-container *ngIf="!headerService.showHeader">
  <div class="flex">
    <h2 class="rounded-2xl text-center flex-1 flex items-center">
      <button
        (click)="returnBack()"
        class="icon-circle flex justify-center items-center">
        <fa-icon
          title="Back"
          class="cursor-pointer text-white text-xl"
          [icon]="faArrowLeft">
        </fa-icon>
      </button>
      <div class="m-auto">
        <p class="m-auto">{{selectedSpeech}}</p>
      </div>
    </h2>
  </div>
</ng-container>
