<!--the header for life and ministry main page-->
<ng-container *ngIf="headerService.showHeader">
  <div class="main-container-header flex">
    <h2 class="main-title-page rounded-2xl flex-1 bg-gray-500">
      <button
        (click)="goHome()"
        class="icon-circle flex justify-center items-center ml-1">
        <fa-icon
          title="Back"
          class="cursor-pointer text-white text-xl"
          [icon]="faArrowLeft">
        </fa-icon>
      </button>
      <div class="m-auto">
        <p>{{header}}</p>
      </div>
    </h2>
  </div>
</ng-container>


<!--the header for remaining time page-->
<ng-container *ngIf="!headerService.showHeader">
  <app-current-time></app-current-time>

  <div class="flex pt-14 pb-10">
    <h2 class="main-title-page rounded-2xl flex-1">
      <div class="m-auto text-3xl">
        <p class="title">{{ (selectedSpeech$ | async)?.title }}</p>
        <p class="duration">({{ (selectedSpeech$ | async)?.duration }} min)</p>
      </div>
    </h2>
  </div>

</ng-container>
