<!--the header for life and ministry main page-->
<ng-container *ngIf="showHeader; else elseBlock">
  <div class="main-container-header flex">
    <h2 class="main-title-page bg-gray-500">
      <button
        (click)="goHome()"
        class="icon-circle flex justify-center items-center ml-1">
        <fa-icon
          style="stroke-width: 15;stroke: #000;"
          title="Back"
          class="cursor-pointer text-white text-xl"
          [icon]="faArrowLeft">
        </fa-icon>
      </button>
      <div class="header m-auto">
        <p>{{ header }}</p>
      </div>
    </h2>
  </div>

</ng-container>


<!--the header for remaining time page-->
<ng-template #elseBlock>
  <app-current-time/>

  <div class="flex">
    <h2 class="main-title-page">
      <div class="m-auto text-3xl">
        <p *ngIf="(isTimeRunning$ | async)" class="title">{{ selectedSpeechSig().title }}</p>
        <p *ngIf="(isAllocatedTimeRunning$ | async) && !(isTimeRunning$ | async)"
           class="title finalPart">{{ finalPartTitle }}</p>
      </div>
    </h2>
  </div>
</ng-template>

<ng-content></ng-content>
